[submodule "jenkins"]
	path = jenkins
	url = https://github.com:rhels/docker.git
[submodule "sonar"]
	path = sonar
	url = https://github.com/rhels/docker-sonarqube.git
[submodule "nexus"]
	path = nexus
	url = https://github.com:rhels/docker-nexus.git
